body{
    background-color: rgb(7, 79, 146);
}

.botao{
    background-color: rgb(173, 173, 173);
    font-size: 16px;
    color: rgb(4, 28, 131);
border-radius: 20px;
padding: 25px;
text-decoration: none;

}